**1\. TOTAL NUMBER OF RESERVATION**

In [24]:
SELECT COUNT(*) total_reservation FROM hotels;

total_reservation
700

**2\. THE MOST POPULAR MEAL PLAN**

In [40]:
SELECT TOP 1 type_of_meal_plan, COUNT(*) AS total_order FROM hotels
GROUP BY type_of_meal_plan
ORDER BY total_order DESC;

type_of_meal_plan,total_order
Meal Plan 1,527

### **3\. The average price per room for reservations involving children**

In [26]:
SELECT room_type_reserved, AVG(avg_price_per_room) AS avg_price_per_room FROM 
hotels WHERE no_of_children > 0
GROUP BY room_type_reserved;

room_type_reserved,avg_price_per_room
Room_Type 1,123.12291653951009
Room_Type 2,112.0780014038086
Room_Type 4,86.31999969482422
Room_Type 6,185.32823540182676
Room_Type 7,187.0399932861328

### **4\. Number of reservation for the year 2018**

In [27]:
SELECT COUNT(*) AS num_reservation
FROM hotels WHERE YEAR(arrival_date) = 2018

num_reservation
577

### **5\. The most commonly booked room type**

In [41]:
SELECT TOP 1 room_type_reserved, COUNT(*) total_reservation
FROM hotels
GROUP BY room_type_reserved
ORDER BY total_reservation DESC;

room_type_reserved,total_reservation
Room_Type 1,534

### **6\. Total reservation fall on a week-end**

In [42]:
SELECT COUNT(*) AS total_reservation
FROM hotels
WHERE no_of_weekend_nights > 0

total_reservation
383

### **7\. The highest and lowest lead time for reservations**

In [30]:
SELECT MAX(lead_time) AS max_lead_time, MIN(lead_time) AS min_lead_time
FROM hotels

max_lead_time,min_lead_time
443,0

### **8\. The most common market segment type for reservation**

In [43]:
SELECT TOP 1 market_segment_type, COUNT(*) AS total_reservation
FROM hotels
GROUP BY market_segment_type
ORDER BY total_reservation DESC

market_segment_type,total_reservation
Online,518

### **9\. The number of reservations that have a booking status of "Confirmed"**

In [44]:
SELECT COUNT(*) AS total_reservation FROM hotels WHERE booking_status='Confirmed';

total_reservation
0

### **10\. The total number of adults and children across all reservations**

In [33]:
SELECT SUM(no_of_adults) AS total_adult,
       SUM(no_of_children) AS total_children 
FROM hotels 
WHERE no_of_adults > 0 AND no_of_children > 0

total_adult,total_children
87,63

### **11\. The average number of weekend nights for reservations involving children**

In [34]:
SELECT AVG(no_of_week_nights) AS avg_week_night  FROM hotels WHERE no_of_children > 0

avg_week_night
2

### **12\. Number of reservation made in each month of the year**

In [35]:
SELECT MONTH(arrival_date) AS Month, 
       YEAR(arrival_date) AS Year, 
       COUNT(*) AS Total 
FROM hotels
GROUP BY YEAR(arrival_date), 
         MONTH(arrival_date) 
ORDER BY [Year], [Month]

Month,Year,Total
7,2017,8
8,2017,14
9,2017,35
10,2017,40
11,2017,13
12,2017,13
1,2018,11
2,2018,28
3,2018,52
4,2018,67
5,2018,55
6,2018,84
7,2018,36
8,2018,56
9,2018,45
10,2018,63
11,2018,41
12,2018,39

### **13. the average number of nights (both weekend and weekday) spent by guests for each room type**

In [36]:
SELECT room_type_reserved, AVG(no_of_week_nights + no_of_weekend_nights) AS avg_night 
FROM hotels
GROUP BY room_type_reserved

room_type_reserved,avg_night
Room_Type 1,2
Room_Type 2,3
Room_Type 4,3
Room_Type 5,2
Room_Type 6,3
Room_Type 7,2

### **14. the most common room type and he average** **price for that room type with children**

In [37]:
SELECT TOP 1 room_type_reserved, AVG(avg_price_per_room) AS avg_price
FROM hotels 
WHERE no_of_children > 0
GROUP BY room_type_reserved
ORDER BY COUNT(*) DESC

room_type_reserved,avg_price
Room_Type 1,123.12291653951009

### **15\. The market segment type that generates the highest average price per room**

In [38]:
SELECT TOP 1 market_segment_type, AVG(avg_price_per_room) AS avg_price_per_room
FROM hotels
GROUP BY market_segment_type
ORDER BY avg_price_per_room DESC

market_segment_type,avg_price_per_room
Online,112.45521233164666